<form action="/api/id" method="post">
  <label for="url">ALBUM ID:</label>
  <div class="form-row">
    <div class="col">
      <input type="text" id="url" name="url" class="form-control" placeholder="https://photos.app.goo.gl/ALBUM_ID">
    </div>
    <div>
      <button class="btn btn-secondary">GENERATE</button>
    </div>
  </div>
</form>